body {
  font-size: 1em;
}

#index, #community {
  margin: 0 auto;
}

#community {
  width: 960px;
}

dl {
  margin-top: 0px;
}

dt {
  margin-top: 10px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, a:visited {
  color: #db0166
}

a.italic, a.italic:visited {
  font-style: italic;
  color: #000;
}

small a {
  font-size: 0.7em;
}

footer {
  line-height: 2em;
}

#index ul, #index h1, footer {
  text-align: center;
}

#index ul li {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  line-height: 100px;
  text-align: center;
}

table {
  text-align: center;
  margin: 0 auto;
}

td {
  padding: 10px;
  border-top: 1px solid #ededed;
}

th {
  font-size: 1.1em;
}

.centered {
  text-align: center;
}

iframe {
  margin-bottom: 30px;
  border: 1px solid #000;
}
