<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="sorttable.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  </head>
  <body>
    {% block content %}{% endblock %}

    <footer>
      want to improve it? checkout
      <a href="https://github.com/cholin/ff-api-viewer">ff-api-viewer</a>
      on github
      <br />
      page generated: {{now}}
    </footer>

  </body>

</html>
