<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="sorttable.js"></script>
    
    <script type="text/javascript" src="jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="datatables.min.css"/>
    <script type="text/javascript" src="datatables.min.js"></script>

  </head>
  <body>
    {% block content %}{% endblock %}

    <footer>
      want to improve it? checkout
      <a href="https://github.com/cholin/ff-api-viewer">ff-api-viewer</a>
      on github
      <br />
      page generated: {{now}}
    </footer>

  </body>

</html>
