{% extends "base.html" %}

{% block title %}{{community}}{% endblock %}

{% block content %}
  <div id="community">
    <h1>
      {{community}}
      {% if url %}
        - <small>{{ url | urlize }}</small>
      {% endif %}
    </h1>

    <p>
      <a hreF="index.html">zurück zur Übersicht</a>
    </p>

    <iframe
      width="300" height="300" frameborder="50" scrolling="no"
      marginheight="0" marginwidth="0"
      src="http://www.openstreetmap.org/export/embed.html?bbox={{bbox}}&amp;layer=mapnik&amp;marker={{latlon[0]}},{{latlon[1]}}"
      style="border: 1px solid black; float: right;">
    </iframe>

    <dl>
    {%- for key, value in data.items() recursive %}
      <dt>{{ key | capitalize }}</dt>
      <dd>
      {%- if value is dict %}
        <dl>{{ loop(value.items())}}</dl>
      {%- elif value is list %}
        <dl>
          {% set outer_loop = loop %}
          {%- for e in value %}
            {{ outer_loop(e.items()) }}
          {%- endfor %}
        </dl>
      {%- else %}
        {{value|urlize}}
      {%- endif %}
      </dd>
    {%- endfor %}
    </dl>
  </div>
{% endblock %}
