{% extends "base.html" %}

{% block title %}{{community}}{% endblock %}

{% block content %}
  <div id="community">
    <h1>
      {{community}}
      {% if url %}
        - <small>{{ url | urlize }}</small>
      {% endif %}
      <a href="#validation"><svg width="120" height="30" xmlns="http://www.w3.org/2000/svg">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <g>
        <title>API Status</title>
        <rect ry="6" rx="6" id="svg_2" height="30" width="60" y="0" x="0" stroke="#000000" fill="#000000" stroke-width="0"/>
        <text class="statusdesc" xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="13" id="svg_3" y="19.5" x="28.65469" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#ffffff" font-weight="bold">{{ validation['status_text'] }}</text>
        <rect class="status {{validation['status']}} version" ry="4" rx="4" id="svg_4" height="26" width="56" y="2" x="62" stroke-linecap="null" stroke-linejoin="null" stroke="#ff0000" fill="#ffffff" stroke-width="4"/>
        <text class="status {{ validation['status'] }} version" xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="14" id="svg_5" y="19.875" x="81" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#ff0000" fill="#ff0000" font-weight="bold">
          {{ api }}
        </text>
        <rect class="status {{ validation['status'] }}" x="60" y="0" width="6" height="4" id="svg_6"/>
        <rect class="status {{ validation['status'] }}" x="60" y="26" width="6" height="4"/>
        <rect class="status {{ validation['status'] }}" x="60" y="4" width="2" height="22"/>
        <rect id="svg_8" fill="#000000" x="54" y="0" width="6" height="6"/>
        <rect id="svg_9" fill="#000000" x="54" y="24" width="6" height="6"/>
       </g>
        </svg></a>
    </h1>

    <p>
      <a hreF="index.html">zurück zur Übersicht</a>
    </p>

    <iframe
      width="300" height="300" frameborder="50" scrolling="no"
      marginheight="0" marginwidth="0"
      src="http://www.openstreetmap.org/export/embed.html?bbox={{bbox}}&amp;layer=mapnik&amp;marker={{latlon[0]}},{{latlon[1]}}"
      style="border: 1px solid black; float: right;">
    </iframe>

		{{data}}
    <h2 id="validation">Validierung</h2>
    {% if validation['status'] != 'valid' %}
      {{validation['result']}}
    {% else %}
      <p>Alles in Ordnung!</p>
    {% endif %}
  </div>
{% endblock %}
