{% extends "base.html" %}

{% block title %}Freifunk API Viewer{% endblock %}

{% block content %}
  <div id="index">
    <h1>Freifunk Communities</h1>

    <div class="centered">
      <iframe width="700px" height="350px" src="http://weimarnetz.de/ffmap/map.html"></iframe>
    </div>

    <table class="sortable">
      <tr>
        <th>Stadt/Region<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
        <th>Meta-Community</th>
        <th>Website</th>
        <th>Firmware</th>
        <th>Routing</th>
        <th>Knoten</th>
        <th>VPN</th>
      </tr>
    {% for name, data in communities | dictsort %}
      <tr>
        <td><a href="{{name}}.html">{{name | capitalize}}</a>

        <td>
          {% if 'metacommunity' in data %}
          	{{data['metacommunity']}}
          {% endif %}
        <td>
          {% if 'url' in data %}
            <a class="italic" href="{{data['url']}}">{{data['url']}}</a>
          {% endif %}
        </td>

        <td>
          {% if 'techDetails' in data and 'firmware' in data['techDetails'] %}
            {% if 'url' in data['techDetails']['firmware'] %}
            <a class="italic" href="{{data['techDetails']['firmware']['url']}}">
              {{data['techDetails']['firmware']['name']}}
            </a>
            {% else %}
              {{ data['techDetails']['firmware']['name'] }}
            {% endif %}
          {% endif %}
        </td>

        <td>
          {% if 'techDetails' in data and 'routing' in data['techDetails']%}
            {{ data['techDetails']['routing'] | upper }}
          {% endif %}
        </td>

        <td>
          {% if 'state' in data and 'nodes' in data['state'] %}
            {{ data['state']['nodes']}}
          {% endif %}
        </td>

        <td>
          {% if 'techDetails' in data and 'vpn' in data['techDetails']%}
            {{ data['techDetails']['vpn'] }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
