<html>
	<head>
		<title>Freifunk Communities</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
  <body>
    <div id="index">
      <h1>Freifunk Communities</h1>
      <table>
        <tr>
          <th>Region</th>
          <th>Firmware</th>
          <th>Routing</th>
          <th>Knoten</th>
          <th>VPN</th>
        </tr>
      {% for name, data in communities | dictsort %}
        <tr>
          <td><a href="{{name}}.html">{{name | capitalize}}</a>

          <td>
            {% if 'techDetails' in data and 'firmware' in data['techDetails'] %}
              {% if 'url' in data['techDetails']['firmware'] %}
              <a href="{{data['techDetails']['firmware']['url']}}">
                {{data['techDetails']['firmware']['name']}}
              </a>
              {% else %}
                {{ data['techDetails']['firmware']['name'] }}
              {% endif %}
            {% endif %}
          </td>

          <td>
            {% if 'techDetails' in data and 'routing' in data['techDetails']%}
              {{ data['techDetails']['routing'] }}
            {% endif %}
          </td>

          <td>
            {% if 'state' in data and 'nodes' in data['state'] %}
              {{ data['state']['nodes']}}
            {% endif %}
          </td>

          <td>
            {% if 'techDetails' in data and 'vpn' in data['techDetails']%}
              {{ data['techDetails']['vpn'] }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>

    <footer>
      want to improve it? checkout
      <a href="https://github.com/cholin/ff-api-viewer">ff-api-viewer</a>
      on github
      <br />
      last update: {{now}}
    </footer>

  </body>
</html>
