{% extends "base.html" %}

{% block title %}Freifunk API Viewer{% endblock %}

{% block content %}
  <div id="index">
    <h1>Freifunk Communities</h1>

    <div class="centered">
      <iframe width="700px" height="350px" src="//api.freifunk.net/map/map.html"></iframe>
    </div>

    <table class="sortable">
      <tr>
        <th>Region<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
        <th>Website</th>
        <th>Firmware</th>
        <th>Routing</th>
        <th class="sorttable_numeric">Knoten</th>
        <th>Version</th>
      </tr>
    {% for name, data in communities | dictsort %}
      <tr>
        <td><a href="{{name}}.html">{{name | capitalize}}</a>

        <td>
          {% if 'url' in data %}
            <a class="italic" href="{{data['url']}}">{{data['url']}}</a>
          {% endif %}
        </td>

        <td>
          {% if 'techDetails' in data and 'firmware' in data['techDetails'] %}
            {% if 'url' in data['techDetails']['firmware'] %}
            <a class="italic" href="{{data['techDetails']['firmware']['url']}}">
              {{data['techDetails']['firmware']['name']}}
            </a>
            {% else %}
              {{ data['techDetails']['firmware']['name'] }}
            {% endif %}
          {% endif %}
        </td>

        <td>
          {% if 'techDetails' in data and 'routing' in data['techDetails']%}
					{% if data['techDetails']['routing'] is list %}
				      {%- for e in data['techDetails']['routing'] %}
							{{  e }}
							{% if not loop.last %}
							    ,
							{% endif %}
						 {%- endfor %}
					{% else %}
							{{ data['techDetails']['routing'] | upper }}
						{%- endif %}
          {% endif %}
        </td>

        <td>
          {% if 'state' in data and 'nodes' in data['state'] %}
            {{ data['state']['nodes']}}
          {% endif %}
        </td>

        <td sorttable_customkey="
            {% if 'api' in data %}
              {{ data['api'] }}
              {% endif %}">
          <a href="{{name}}.html#validation">
          <svg width="120" height="30" xmlns="http://www.w3.org/2000/svg">
           <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
           <g>
            <title>API Status</title>
            <rect ry="6" rx="6" id="svg_2" height="30" width="60" y="0" x="0" stroke="#000000" fill="#000000" stroke-width="0"/>
            <text class="statusdesc" xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="13" id="svg_3" y="19.5" x="28.65469" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#000000" fill="#ffffff" font-weight="bold">{{ data['validation']['status_text'] }}</text>
            <rect class="status {{data['validation']['status']}} version" ry="4" rx="4" id="svg_4" height="26" width="56" y="2" x="62" stroke-linecap="null" stroke-linejoin="null" stroke="#ff0000" fill="#ffffff" stroke-width="4"/>
            <text class="status {{ data['validation']['status'] }} version" xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="14" id="svg_5" y="19.875" x="81" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" stroke="#ff0000" fill="#ff0000" font-weight="bold">
            {% if 'api' in data %}
              {{ data['api'] }}
            {% endif %}
            </text>
            <rect class="status {{ data['validation']['status'] }}" x="60" y="0" width="6" height="4" id="svg_6"/>
            <rect class="status {{ data['validation']['status'] }}" x="60" y="26" width="6" height="4"/>
            <rect class="status {{ data['validation']['status'] }}" x="60" y="4" width="2" height="22"/>
            <rect id="svg_8" fill="#000000" x="54" y="0" width="6" height="6"/>
            <rect id="svg_9" fill="#000000" x="54" y="24" width="6" height="6"/>
           </g>
          </svg>
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
